<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3ad43e51-0e8d-438f-a45d-97037458fe3a/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/MockingJson20240907010208</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <ApiResourceId>/subscriptions/3ad43e51-0e8d-438f-a45d-97037458fe3a/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ApiManagement/service/MockingJsonapi/apis/MockingJson</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mockingjson20240907010208.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>45e5effd-e0e9-4d45-9c04-a3c297b83ded</ProjectGuid>
    <MSDeployServiceURL>mockingjson20240907010208.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MockingJson20240907010208</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MockingJson20240907010208</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>